
# -----------------------------
# Core AI + Computer Vision
# -----------------------------
numpy==1.26.4
opencv-contrib-python==4.9.0.80
tensorflow==2.15.0
scikit-learn

# -----------------------------
# Visualization
# -----------------------------
matplotlib
seaborn

# -----------------------------
# Utilities
# -----------------------------
imutils

# -----------------------------
# Deep Learning (PyTorch)
# -----------------------------
torch
torchvision
facial-emotion-recognition

# -----------------------------
# Project Support
# -----------------------------
h5py
scipy
